In [1]:
# Basic Numeric Calculation 1
print (1+3)
print (3-1)
print (2*2)
# Division alone in Python 3 does not work as expected instead results
# and provides a result as integer 1
print (3/2)

4
2
4
1.5

In [2]:
# Basic Numeric Calculation 2
print (2**3)
print (4**5)
print (4**0.5)
# BODMAS rules apply
print (2 + 10 * 10 + 3)
print ((2+10)*(10+3))

8
1024
2.0
105
156

In [3]:
# Variable calculation
a = 5
print (a)
print (a+a)

5
10

In [4]:
a = 10
print (a)
# varaibale name rules
"""
1. Names can not start with a number
2. There can be no spaces in the name, use_instead
3. Can't use any of these symbols like :'",<>/?\|()!@#$%^&*~`+=
"""

10

'\n1. Names can not start with a number\n2. There can be no spaces in the name, use_instead\n3. Can\'t use any of these symbols like :\'",<>/?\\|()!@#$%^&*~`+=\n'

In [5]:
# sample variable creation
my_income = 100
tax_rate = 0.1
my_taxes = my_income*tax_rate
print (my_taxes)

10.0

# Strings

In [6]:
'Hello'

'Hello'

In [7]:
# Python remembers the complete string as a sequence
"This is also a string"

'This is also a string'

In [8]:
print ('Hello World 1')
print ('Hello World 2')

Hello World 1
Hello World 2

In [9]:
# In Python 3, print statement are a function hence should 
# be inside a bracket
print ('Here is a new line \n Here is the second line')

Here is a new line
 Here is the second line

In [10]:
# Basic print Functions
# len
len('Hello World')

11

In [11]:
s = 'Hello world'
s

'Hello world'

In [12]:
# Incides & Slicing for strings
print (s[0])
print (s[1:])
print (s[0:6])
print (s[:])
# Reverse Indexing
print (s[:-1])
print (s[::1])
print (s[:2])
print (s[:-1])
print (s[:-3])

H
ello world
Hello
Hello world
Hello worl
Hello world
He
Hello worl
Hello wo

In [13]:
# Strings are immutable
# It will not let us to change the elements the sequence
# You can concatenate strings but cannot change the sequence
# this throws an error
s[0] = 'X'

TypeError: 'str' object does not support item assignment

In [14]:
letter = 'zz'
print (letter)
print (letter*10)

zz
zzzzzzzzzzzzzzzzzzzz

In [15]:
# Other methods in Strings
print (s.upper())
print (s.lower())
print (s.split('e'))
print (s.count('l'))
print (s.find('world'))
print (s.replace('world', 'Universe'))

HELLO WORLD
hello world
['H', 'llo world']
3
6
Hello Universe

In [16]:
# print Formatting
print ('This is a string')
x = 13.13
print ('Place my varaiable here :%1.2f')%(x)

This is a string
Place my varaiable here :%1.2f

TypeError: unsupported operand type(s) for %: 'NoneType' and 'float'

# Lists

In [17]:
# lists are most basic generalization of na ordered arranging of elements into a collective bucket.
my_list = [1,2,3]

In [18]:
my_list

[1, 2, 3]

In [19]:
# lists can hold multiple different object types within a single list type
my_list = ['string', 1, 3.4]
print (my_list)

['string', 1, 3.4]

In [20]:
# Lists support the len function
my_list = ['one', 'two', 'there', 4, 5]
print ('No. of Elements in the my_list is :', len(my_list))

No. of Elements in the my_list is : 5

In [22]:
# Indexing/Slicing operation are also allowed within a list
print (my_list[0])
print (my_list[1:3])
print (my_list[:4])

one
['two', 'there']
['one', 'two', 'there', 4]

In [23]:
# concatenation of lists
my_list + ['new_item']
print (my_list)

['one', 'two', 'there', 4, 5]

In [24]:
# To make a change in the list permanently you should assign to the list name
print ('Initial List')
print (my_list)
my_list = my_list + ['new_item']
print ('Updated the my_list')
print (my_list)

Initial List
['one', 'two', 'there', 4, 5]
Updated the my_list
['one', 'two', 'there', 4, 5, 'new_item']

In [25]:
# List has the advantage that it can grow as big as possible
# List can have multiple types viz., int, float etc..

In [30]:
# Methods in List
l = [1,2,3]
print ('Original List: ', l)

Original List:  [1, 2, 3]

In [31]:
# Let us append to the list l
l.append(4)
print ('Appended the item to list l: ', l)
# pop will remove the last entry made to the list and 
# assign the index to remove the specific element
x = l.pop(1)
print ('Updated list after pop:', l)
print ('Item popped from list l', x)

Appended the item to list l:  [1, 2, 3, 4]
Updated list after pop: [1, 3, 4]
Item popped from list l 2

In [39]:
new_list = ['a', 'e', 'x', 'b', 'c']

In [40]:
# Most of the mothods applied in manipulating the list are premanent
new_list.reverse()
new_list

['c', 'b', 'x', 'e', 'a']

In [41]:
new_list.sort()
new_list

['a', 'b', 'c', 'e', 'x']

In [42]:
print (new_list.count('a'))

1

In [43]:
# Lists Support Nesting
l_1 = [1,2,3]
l_2 = [4,5,6]
l_3 = [7,8,9]

In [44]:
matrix = [l_1, l_2, l_3]
print (matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [45]:
# We can access the elements using multiple index
print (matrix[0][0])
print (matrix[1][1])
print (matrix[2][2])

1
5
9

In [46]:
# List Comprehension is like deconstructing a for loop within a bracket
first_col = [row[0] for row in matrix]
print (first_col)

[1, 4, 7]

In [58]:
# Dictionaries are like key value pair and they are mappings
# these mappings will not retain the order
my_dict = {'k1': 'var1', 'k2': 'var2', 'k3': 6.78, 'k4': 43}

In [59]:
print (my_dict['k1'])
print (my_dict['k2'][1])
print (my_dict['k2'][-1])
print (my_dict['k2'].upper())
print (my_dict['k4']+6)

var1
a
2
VAR2
49

In [60]:
# just as lists dicts can be permanently updated
my_dict['k4'] = my_dict['k4']+6
print (my_dict['k4'])

49

In [61]:
# Quick Syntax for assignment
my_dict['k4'] += 100
print (my_dict['k4'])

149

In [62]:
# Assignment of values to the dictionary
d = {}
d['animal'] = 'dog'
d['val'] = 42
print (d)

{'animal': 'dog', 'val': 42}

In [63]:
# Nesting in dictionary
nd = {'u1': {'m1': {'l1': 'value'}}}

In [65]:
# Accessing the items
print (nd)
print (nd['u1'])
print (nd['u1']['m1'])
print (nd['u1']['m1']['l1'])
print (nd['u1']['m1']['l1'].upper())

{'u1': {'m1': {'l1': 'value'}}}
{'m1': {'l1': 'value'}}
{'l1': 'value'}
value
VALUE

In [66]:
# Dictionary Methods
d['k1'] = 1
d['k2'] = 2
d['k3'] = 3

In [67]:
print (d.keys())
print (d.values())
print (d.items())

dict_keys(['animal', 'val', 'k1', 'k2', 'k3'])
dict_values(['dog', 42, 1, 2, 3])
dict_items([('animal', 'dog'), ('val', 42), ('k1', 1), ('k2', 2), ('k3', 3)])

In [68]:
# Tuples are very similar to lists but are immutability
t = (1, 2, 3)

In [69]:
len(t)

3

In [70]:
t = (1, 2, 3, 'val', 6.7)

In [71]:
print (t[0])
print (t[2:])

1
(3, 'val', 6.7)

In [72]:
t.index(3)

2

In [73]:
t.count(1)

1

In [74]:
# tuples cannot be altered and cannot be changed at all
# trying to change the Tuple will give an error
# There are fewer supported methods that are available in the Tuples
# Only index and count are the methods
# It can be used in the case where you need a rigid data struture

In [75]:
# A list can be an item in the Tuple
t = (1, 2, [1,2])

In [76]:
t[2]

[1, 2]